body{
    background-color: rgb(30, 181, 201);
    font: normal 15pt Arial;
}

header{
    text-align: center;
    color: rgb(0, 0, 0);
    
}

section{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    text-align: center;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

footer{
    color: white;
    font-style: italic;
    text-align: center;

}